.title {
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    span {
        color: #D1A954;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
}